body{
    margin: 100px 450px;
    box-sizing: border-box;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.maincontainer img{
    max-width: 550px;
    padding: 5px;
    border-radius: 10px;
    justify-content: center;
}
.maincontainer{
    max-width: 100%;
    margin-bottom: 15px;
}
h2{
    color: white;
    font-weight: 500;
}
p{
    color: white;
    margin: 15px 0;
}
.btn:hover{
    background-color: orange;
}
.btn{
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.trailercontainer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity 0.7s;
}
.active.trailercontainer{
    visibility: hidden;
    opacity:0;
}
.trailercontainer video{
    position: relative;
    max-width: 80%;
    outline: none;
}
@media(max-width:991px){
    .trailercontainer video{
        max-width: 90%;
    }
}
.icon{
    position: absolute;
    top:30px;
    right: 30px;
    color: white;
    cursor: pointer;
}